# local storage
config.json

# machine-specific 
baseline.json

# output
exports/

# pyinstaller
build/
dist/
__pycache__/
*.pyc
*.spec

# slop
.vscode/
.qodo/

# experimental
/C\#/
/python-depreciated/
